#myCanvas{
	margin-left:20px;
	margin-top:10px;
	box-shadow: 1px 1px 5px #888888;
	display: inline-block;
}

#fileinput{
	margin-left: 20px;
}

.send_clear {
	margin-left: 20px !important;
}

.list-inline {
	margin-left: 20px !important;
}

#draw_form li {
	cursor: pointer;
}
#draw_form li img {
	border:1px solid;
}
#draw_form li:hover {
	opacity:0.6;
}
.btn-info {
	background:transparent !important;
}
.colors {
	margin-left: 20px !important;
}
.colors li {
	width:30px;
	height:30px;
	cursor: pointer;
	box-shadow: 1px 1px 1px;
	opacity:1;
}
.colors li:hover {
	opacity:0.6;
}

.colors label,ul {
	display:inline-block;
}
.colors button {
	width:0px;
	height:0px;
}
#blue_color {
	background-color: blue;
}

/*
* Left Nav Bar
*/
#main_container ul {
	float: left !important;
	margin-top:10px;

}
#main_container {
	margin-left: 0px !important;
}

/*
*Fetch Form
*/
.fetch_form {
	margin-left: 20px;
	margin-top: 30px;
	display:none;
}
.fetch_form label, input {
	display: inline-block;
	margin-right: 20px !important;

}
.nav>li>a:hover {
    text-decoration: none;
    background-color: beige !important;
}